<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="https://fudongdong-statics.oss-cn-beijing.aliyuncs.com/bootstrap-3.4.1-dist/css/bootstrap.min.css">
<script src="/javascripts/jquery-1.11.1.js"></script>
<script src="https://fudongdong-statics.oss-cn-beijing.aliyuncs.com/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
