html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}
body{
	min-height:600px;
	width:1000px;
	position:relative;
	margin:0px auto;
}
html body{
	margin-left:auto;
	margin-right:auto;
}
#main .user_oneline{
	-webkit-transition:all 1s ease-in;
	-moz-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
	transition:all 1s ease-in;
	color:white;
	width:85px;



	-webkit-transition:left 0.6s ease-out;
	-moz-transition:left 0.6s ease-out;
	-o-transition:left 0.6s ease-out;
	-ms-transition:left 0.6s ease-out;
	transition:left 0.6s ease-out;
}
#main .typing{
	-webkit-transition:all 1s ease-in;
	-moz-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
	transition:all 1s ease-in;
	color:red;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake

	 -webkit-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
	 -moz-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
	 -o-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
	 animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
}
.width100{
	width:100%;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.clear_after:after{
	content:"";
	clear:both;
	display:block;
}
#main{
	height:81%;
}
#main,#input{
	width:100%;
}
#chat_show,#chat_online{
	height:100%;
	border:1px grey solid;
	border-radius:10px;
	padding-bottom:200px;
	over-flow:scroll;
}
#chat_online{
	overflow-x:hidden;
}
#chat_show{
	padding:10px;
	overflow-y:scroll;
}
#chat_show div p{
	background:#f3fcff;
	padding: 9px 14px;
	font-family: 微软雅黑;
	border: 1px solid rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-o-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-ms-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#chat_show p{
	position:relative;
}
#chat_show div.float-left p::after{
	content:"";
	width:10px;
	height:10px;
	left:-19px;
	border:10px #f3fcff solid;
	border-top-color:rgba(0,0,0,0);
	border-left-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
	position:absolute;
}
#chat_show div.float-left p::before{
	content:"";
	width:10px;
	height:10px;
	left:-20px;
	border:10px rgba(0,0,0,.2) solid;
	border-top-color:rgba(0,0,0,0);
	border-left-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
	position:absolute;
}
#chat_show div.float-right p::after{
	content:"";
	width:10px;
	height:10px;
	right:-19px;
	border:10px #f3fcff solid;
	border-top-color:rgba(0,0,0,0);
	border-right-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
	position:absolute;
}
#chat_show div.float-right p::before{
	content:"";
	width:10px;
	height:10px;
	right:-20px;
	border:10px rgba(0,0,0,.2) solid;
	border-top-color:rgba(0,0,0,0);
	border-right-color:rgba(0,0,0,0);
	border-bottom-color:rgba(0,0,0,0);
	position:absolute;
}

#input{
	position:absolute;
	bottom:0px;
}
.float-left p,.float-right p{
	font-size:25px;
}

#right{
	position:fixed;
	right:40px;
	width:100px;
	height:220px;
	top:50%;
}
#right ul{
	position:relative;
	top:-50%;
	list-style:none;
}
#right ul li{
	float:left;
	margin-top:3px;
	list-style:none;
}
#right ul li a{
	width:75px;
}

#chat_online dd{
	margin-top:3px;
	position:relative;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translatex(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translatex(-5px);}
	20%, 40%, 60%, 80% {-webkit-transform: translatex(5px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translatex(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translatex(-5px);}
	20%, 40%, 60%, 80% {-moz-transform: translatex(5px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translatex(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translatex(-5px);}
	20%, 40%, 60%, 80% {-o-transform: translatex(5px);}
}

@keyframes shake {
	0%, 100% {transform: translatex(0);}
	10%, 30%, 50%, 70%, 90% {transform: translatex(-5px);}
	20%, 40%, 60%, 80% {transform: translatex(5px);}
}



@font-face {
	font-family: 'icomoon';
	src:url("./fonts/icomoon.ttf") ;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
	content: "\e600";
}
.icon-star:before {
	content: "\e601";
}
.icon-heart:before {
	content: "\e602";
}
.icon-heart2:before {
	content: "\e603";
}
.icon-heart-broken:before {
	content: "\e604";
}
.icon-thumbs-up:before {
	content: "\e605";
}
.icon-thumbs-up2:before {
	content: "\e606";
}
.icon-happy:before {
	content: "\e607";
}
.icon-happy2:before {
	content: "\e608";
}
.icon-smiley:before {
	content: "\e609";
}
.icon-smiley2:before {
	content: "\e60a";
}
.icon-tongue:before {
	content: "\e60b";
}
.icon-tongue2:before {
	content: "\e60c";
}
.icon-sad:before {
	content: "\e60d";
}
.icon-sad2:before {
	content: "\e60e";
}
.icon-wink:before {
	content: "\e60f";
}
.icon-wink2:before {
	content: "\e610";
}
.icon-grin:before {
	content: "\e611";
}
.icon-grin2:before {
	content: "\e612";
}
.icon-cool:before {
	content: "\e613";
}
.icon-cool2:before {
	content: "\e614";
}
.icon-angry:before {
	content: "\e615";
}
.icon-angry2:before {
	content: "\e616";
}
.icon-evil:before {
	content: "\e617";
}
.icon-evil2:before {
	content: "\e618";
}
.icon-shocked:before {
	content: "\e619";
}
.icon-shocked2:before {
	content: "\e61a";
}
.icon-confused:before {
	content: "\e61b";
}
.icon-confused2:before {
	content: "\e61c";
}
.icon-neutral:before {
	content: "\e61d";
}
.icon-neutral2:before {
	content: "\e61e";
}
.icon-wondering:before {
	content: "\e61f";
}
.icon-wondering2:before {
	content: "\e620";
}
