#title{
	text-align:center;
}
#title a:hover{
	text-decoration:none;
}
.hidden{
	display:none;
}
td{
	word-break:break-all;
}
td:nth-child(1){
	width:15%;
}
td:nth-child(2){
	width:8%;
}
td:nth-child(4){
	width:17%;
}
#toTop{
	-webkit-transition:all 1s ease-in;
	-moz-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
	transition:all 1s ease-in;

	opacity:0;
}
#toTop.show{
	-webkit-transition:all 1s ease-in;
	-moz-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
	transition:all 1s ease-in;

	opacity:1;
}
#page_div{
	text-align:center;
}